body{
  background:#fff;
}
#content{
	margin-left: 260px;
}
#content code{
  background:#eee;
  border: 1px solid #ddd;
}
#nav{
	position: fixed;
	top: 0;
}
.tomorrow-comment, pre .comment, pre .title{
	color: #cc333f;
        font-weight: bolder;
        font-family: adelle;
}
